/* TAG */
html {
    font-family: 'Arimo', sans-serif;
    font-size: 10px;
}
html,
body,
.container {
    height: 100%; 
}

/* CLASS */
.container {
    position: relative;
    min-height: 725px; 
    height: 100%;
    margin: 0 auto;
}

.pricelist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 0;
    border: 22px solid #364664;
    text-align: center;
    text-transform: uppercase;
}


/* TABLE */
.main_col {
    width: 310px;
}
.content_col {
    width: 277px;
}

thead .plan_price th:first-child {    
    box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.27);
}
tbody tr td:first-child,
tfoot tr td:first-child {    
    box-shadow: -2px 0px 5px -2px rgba(0, 0, 0, 0.27) inset;
}
tbody tr td:nth-child(n+3),
thead .plan_price th:nth-child(n+2),
tfoot tr td:nth-child(n+3) {    
    box-shadow: 2px 0px 5px -2px rgba(0, 0, 0, 0.27) inset;
}


/* TABLE HEAD */
.plan_name {
    height: 76px;
    color:  #ffffff;
    font-size: 2.4rem;
    font-weight: 700;
}
.plan_name th:first-of-type {
    color:  #484848;
    font-size: 1.8rem;
}
.plan_name h1 {
    color:  #484848;
    font-size: 3rem;
}
.plan_name__std {
    background-color: #89c331;
}
.plan_name__ult {
    background-color: #f04a56;
}
.plan_name__prem {
    background-color: #20807c;
}

.plan_price {
    height: 80px;
    color: #484848;
    font-size: 0;
    font-weight: 700;
    vertical-align: middle;
}
.plan_price p {
    display: inline-block;
    line-height: 60px;
    font-size: 6rem;
    text-align: left;
}
.plan_price span {
    display: block;
    font-size: 2.4rem;
    line-height: 27px;
}
.plan_price span:last-of-type {
    font-size: 1.8rem;
    font-weight: 400;
} 

/* TABLE BODY */
tbody tr {
    height: 69px;
    color: #484848;
    font-size: 1.6rem;
    text-align: center;
}
tbody i {    
    color: #848484;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

tr td:first-of-type span {
    margin-left: 5px;
}

/* TABLE FOOTER */
tfoot tr{
    height: 109px;
}
tfoot td:nth-child(odd) {
    background-color: #f4f4f4;
}
tfoot td:nth-child(even) {
    background-color: #eeeeee;
}
tfoot td:first-of-type {
    background-color: #dddddd;
}

/* Buttons */
.btn {
    display: block;
    height: 50px;
    width: 192px;
    margin: 0 auto;
    padding: 17px 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}
.btn:hover {
    color: coral;
}
.btn_contact {
    background: linear-gradient(180deg, #484848 43px, #404040 7px);
}
.btn_std {
    background: linear-gradient(180deg, #88C22C 43px, #79AF22 7px) ;
}
.btn_ult {
    background: linear-gradient(180deg, #ED4854 43px, #DD3643 7px);
}
.btn_prem {
    background: linear-gradient(180deg, #1A7F7C 43px, #0E736E 7px);
}